work_dirs
work_logs
show_dir
data/
*.pyc
*.pt
*.xlsx
*.png
.vscode
__pycache__
BLIP/
dinov3/
featup/
featup.egg-info
gem/
segment_anything/
work/
visualize/
adaptive_conv_cpp_impl.cpython-39-x86_64-linux-gnu.so
adaptive_conv_cpp_impl.cpython-310-x86_64-linux-gnu.so
adaptive_conv_cuda_impl.cpython-39-x86_64-linux-gnu.so
adaptive_conv_cuda_impl.cpython-310-x86_64-linux-gnu.so